.blocks-container.slider{
    background-image: url("../images/slider.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    height: 450px;
    position: relative;
    display: block;
}
.blocks-container.slider{
    background-image: url("../images/slider.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    height: 250px;
    position: relative;
    display: block;
}

.blocks-container.slider::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color:rgba(255,255,255,0.6);
    top:0;
    left:0;
    z-index: 1;
}

.slider-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 70%;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:20px;
}

.slider-content .block.image{
    width:200px;
    height: 200px;
    display: block;
}

.slider-content .block.image img{
    border-radius: 100px;
    height: 100%;
    width: 100%;
}

.slider-content .text{
    display: inline-block;
    width: calc(100% - 200px);
}

.slider-content .text .block.text{
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 30px;
}


/*Styling succeeded page*/
.blocks-container.succes{
    margin-top:40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row.succes-page .blocks-container .block.text{
    margin-top:30px;
}